@charset "utf-8";
/* CSS Document */
*{
  text-shadow: #333;
}
html{
  position: relative;
  min-height: 100%;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: rgb(255, 255, 255);
	line-height: 1.5;
}
body {
  padding:0px;
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
  list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
}
#footer {
 
  background-color: #444;
  color: #aaa;
  font-size: 9pt;
  max-height: 30px;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  box-shadow: 0px 1px 10px #404242;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #252831;
}

nav h1 {
  padding-top: 1%;
  max-width: 100%;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#info-container{
  width:50%;
  margin-top: 90px;
}
#breadcrumb {

 box-shadow: -7px -1px 6px black;
  text-decoration-style: solid;
    padding: 10px 0px 10px 10px;
    list-style: none;
    position: fixed;
    display:block;
    margin: 0;
    top:60px;
    background-color:#eeeeef;
 width:calc(50% - 10px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }


/* ====================== Map ====================== */

#map {
  min-height: 300px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display:block;
  width: 100%;
  height: 50px;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color:white;
  display: inline;
  font-size: 1rem;
  font-weight:normal;
  line-height: 1;
  margin: 0px 20px;
}
.filter-options select {
  border-radius: 3px;
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1vw;
  max-width: 100px;
  width:auto;
  letter-spacing: 0;
  margin-top:10px;
  padding: 0 10px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #ffffff;
  display:flex;
  flex-wrap: wrap;
  padding: 30px 15px 60px;

}

#restaurants-list li 

{display: block;
   width:100%;
   margin-left: auto;
   margin-right: auto;
   padding: 10px; 
  margin-top:10px;
  max-width: 22%;
  text-align: center;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
}

#restaurants-list .restaurant-img {
  top:0px;
  bottom:0px;
  display: block;
  left:0px;
  right: 0px;
  position: relative;
  padding:0px 1px;
  min-width: 20%;
  text-align: center;
  width:calc(100%);
  max-height: 100%;
  /* max-width: 300px ; */
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  color:black;
  margin: 0;
  font-size: 1vw;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 10px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 60px;
  width: 50%;
}
.inside #map {
  position: fixed;;
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
font-size:0.8vw;
  padding: 20px 0px ;
  position: unset;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 12pt;
  font-weight: 200;
  top:78px;
  text-align: center;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  padding-left: 10px;
  padding-right: 10px;
  width:80%;
  display:block;
  margin-top: auto;
  margin-left: auto;
  margin-right:auto;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
	max-width:calc(100% - 50px);
}
#restaurant-address {
  color: black;
  margin-left: 20px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: calc(100% - 20px);
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}
#reviews-container {
  padding: 0px 0px 30px;  
}
#reviews-container h2 {
  color: #f58500;
  font-weight: 300;
  margin-left:20px;
  text-align: center;
  text-decoration: underline;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}


/* #reviews-list li p {
  margin: 0 0 10px;
} */
#restaurant-hours td {
  margin-left: 20px;
  color: #666;
}
#restaurant-hours{
  margin-right: auto;
  text-align: center;
  margin-left: auto;
  color: #666;
}

li #customerName {
  box-shadow: 0px 1px 3px black;
  border-bottom-width: 0px  !important; 
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  font-size: 11pt;
  border: 2px solid #f3f3f3;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: black;
  padding-left: 20px  !important;
  padding-top: 10px  !important;
  padding-bottom: 10px !important;
  padding-right: 50%;
width: calc(75% - 0px);
color:white !important; 

}

#date p{
  font-size:11pt;
  color: grey !important;
  margin-right: -20%  !important;;
  float: right;
  
}
#rating{
  font-size:8pt;
  text-transform: uppercase;
margin-left:20px !important;
  display: inline-block;
  padding: 5px;
  
color: white !important;
background-color: #fba530;
border-radius: 5px;

}
#reviews-list li p {
  
  color: black;
  margin: 0 0 10px;
}

#reviews-list li {
  margin-right: 20px  !important;; 
  margin-left: 20px  !important;;
  margin-bottom: 20px  !important;;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: inline-block;
  max-width: 100%;
  list-style-type: none;
  overflow: hidden;
}
#commment{ 
  font-size: 10pt;
  color: #b9b9b8;
  padding-left:20px  !important;;
  padding-right: 20px  !important;; }
